<section class="container mt-4">
  {{#if students}}
  <h2 class="text-center mb-4">Students</h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          {{!-- <th scope="col">Date of Birth</th> --}}
          <th scope="col">Gender</th>

          {{!-- <th scope="col">ABCD_Id</th> --}}
          <th scope="col">View</th>

        </tr>
      </thead>
      <tbody>
        {{#each students}}
        <tr>
          <th scope="row">{{increment @index}}</th> <!-- Loop Index -->
          <td>{{name}}</td>
          {{!-- <td>{{dob}}</td> --}}
          <td>{{gender}}</td>

          {{!-- <td>{{ABCD_Id}}</td> --}}
          <td>
            <div class="d-flex action-buttons">
              <!-- Pass the email as a query parameter in the URL -->
              <a href="/teacher/about-student/{{email}}" class="m-1 btn btn-success">View</a>

            </div>
          </td>
        </tr>
        {{/each}}


        <!-- Add more rows dynamically -->
      </tbody>
    </table>
  </div>
  {{else}}
  <div class="alert alert-danger text-center mt-4">
   <p>students is not available</p> 
  </div>
  <div class="text-center">
     <a href="/teacher" class="btn btn-primary btn-sm mb-4">Go Back</a>
  </div>
  {{/if}}
</section>