<div class="container mt-5">
  {{#each attendanceData}}
    <h3>{{year}} </h3>
  <h4 class="text-center">Date: {{firstDate}}</h4>
<!-- Display the year and the first attendance date -->

    {{#each months}}
      <h4>{{monthName}}</h4> <!-- Display month name and number -->

      <table class="table">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Roll Number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each attendance}}
            <tr>
              <td>{{name}}</td>
              <td>{{id}}</td>
              <td>{{status}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
  {{/each}}
</div>

{{!-- <div class="container mt-5">
  {{#each attendanceData}}
    <h3>{{year}}</h3> <!-- Display the year -->

    {{#each months}}
      <h4>{{monthName}} (Month: {{monthNumber}})</h4> <!-- Display month name and number -->

      <table class="table">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Roll Number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each attendance}}
            <tr>
              <td>{{name}}</td>
              <td>{{id}}</td>
              <td>{{status}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
  {{/each}}
</div> --}}
