


<section class="timetable-view-section py-5">
    <div class="container">
        <h2 class="text-center mb-4">View Timetable</h2>

        <!-- Timetable Table -->
        <div class="table-responsive">
              {{!-- <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th></th> <!-- Empty header for the first column (used for categories like Time, Subject, etc.) -->
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td><strong>Time</strong></td>
                        {{#each timetable}}
                  
                        <td>{{time}}</td>
                      
                       {{/each}}
                    </tr>
                    <tr>
                        <td><strong>Subject</strong></td>
                        <td></td>
                       
                    </tr>
                    <tr>
                        <td><strong>Year</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Teacher</strong></td>
                        <td>{{timetable.teacher}}</td>
                     
                    </tr>
                </tbody>
            </table> --}}
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Subject</th>
                        <th>Year</th>
                        <th>Teacher</th>
                    </tr>
                </thead>
                
                <tbody>
 
                     {{#each timetable}} 
                   
                    <tr>
                        <td>{{day}}</td>
                        <td>{{time}}</td>
                        <td>{{subject}}</td>
                        <td>{{year}}</td>
                        <td>{{teacher}}</td>
                    </tr>
                    {{/each}}
    
</tbody>

            </table>
        </div>
        <div class="text-center mt-4">
            <a href="/hod/add-timetable" class="btn btn-primary">Create New Timetable</a>
        </div>
    </div>
</section> 

   
